@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

/* this is for body raw style */

html,
body {
    background: #FFF;
    font-family: "Inter", sans-serif;
}

/* this is for card layout style */
.card_style {
    display: flex;
    padding: 80px 62.5px;
    justify-content: center;
    align-items: center;
}

.card_style2 {
    display: flex;
    padding: 80px 62.5px;
    justify-content: center;
    align-items: center;
    background: #F3F8F4;
}

.why_choose3 {
    display: flex;
    height: 166px;
    padding: 25px;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 16px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}

.how_it_work_card {
    height: 264px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F3F8F4;
}

.how_it_work_card2 {
    height: 264px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #fff;
}

.how_it_work_card3 {
    height: 264px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F3F8F4;
}

.stepImg {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #006C76;
}

.stepImg2 {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #235235;
}

.stepImg2 {
    display: flex;
    width: 64px;
    height: 64px;
    padding: 18px;
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    background: #00AFAA;
}

/* this is for why choose card */
.why_choose {
    padding: 24px;
    height: 200px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(0, 0, 0, 0.00), 0 0 0 0 rgba(0, 0, 0, 0.00);
}

.why_choose2 {
    padding: 24px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(0, 0, 0, 0.00), 0 0 0 0 rgba(0, 0, 0, 0.00);
}

/* this is for about main img styling  */
.about_img {
    width: 100%;
    border-radius: 8px;
    box-shadow: 0 4px 6px -4px rgba(0, 0, 0, 0.10), 0 10px 15px -3px rgba(0, 0, 0, 0.10), 0 0 0 0 rgba(0, 0, 0, 0.00), 0 0 0 0 rgba(0, 0, 0, 0.00);
}

/* this is for package card */
.packageCard {
    display: flex;
    height: 550px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: #FFF;
    box-shadow: 0 2px 4px -2px rgba(0, 0, 0, 0.10), 0 4px 6px -1px rgba(0, 0, 0, 0.10), 0 0 0 0 rgba(0, 0, 0, 0.00), 0 0 0 0 rgba(0, 0, 0, 0.00);
}

/* this is for pricing card */
.pricing_card {
    height: 62px;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
}

.pricing_card:hover {
    height: 62px;
    padding: 9px;
    border-radius: 8px;
    border: 1px solid #E5E7EB;
    background: #F3F8F4;
}

/* this is for contact form card */
.contact_form {
    border-radius: 8px;
    background: #FFF;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05), 0 0 0 0 rgba(0, 0, 0, 0.00), 0 0 0 0 rgba(0, 0, 0, 0.00);
}

/* this is for contact send button */
.contact_sent {
    border-radius: 999px;
    background: #006C76;
    display: flex;
    padding: 12px 0;
    justify-content: center;
    align-items: flex-start;
    gap: 8px;
    font-size: 14px;
    color: #fff;
}

/* this is for stress-free with LaundryGo. section button */
.signup_now_btn {
    display: flex;
    width: 199.656px;
    padding: 15px 32px 16px 32px;
    justify-content: center;
    align-items: center;
    gap: 8px;
    border-radius: 9999px;
    background: #00AFAA;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15.3px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    /* 183.007% */
}

/* Tablet and up */
@media (max-width: 768px) {
    .card_style {
        display: flex;
        padding: 32px 24px;
        justify-content: center;
        align-items: center;
    }

    .card_style2 {
        display: flex;
        padding: 32px 24px;
        justify-content: center;
        align-items: center;
        background: #F3F8F4;
    }
}

@media (min-width: 1024px) {
    .element {
        width: 33.33%;
        font-size: 18px;
    }
}